* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  overflow: hidden;
}

html,
body {
  height: 100%;
}
body {
  background: #16bffd;
  background: -webkit-linear-gradient(to right, #cb3066, #16bffd);
  background: linear-gradient(to right, #cb3066, #16bffd);
}
.box {
  width: 100%;
  height: 500px;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form input {
  width: 300px;
  line-height: 3;
  margin-bottom: 10px;
}

form h1 {
  color: #fff;
  padding-bottom: 20px;
}

.btn-group {
  width: 300px;
  height: 80px;
  display: flex;
  justify-content:space-around;
  align-items:center;
  text-align:center;
}
.btn-group button {
  width: 100px;
  height: 50px;
  margin-left: 15px;
}

.btn {
  border: 1px solid;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300;
}

.one {
  color: #4cc9f0;
}

.two {
  color: #b9e769;; 
}

.btn:hover {
  color: white;
  border: 0;
}

.one:hover {
  background-color: #4cc9f0;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
}

.two:hover {
  background-color: #b9e769;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}

#qrcode {
  width: 100%;
  margin-top: 30px;
  position: absolute;
  top: 40%;
  left: 46%;
  transform: translate(-50,-50);
}

.txt p {
  font-size:20px;
  margin-top: 15px;
  color: #fff;
}
.txt h3{
    margin-top: 15px;
    color: #fff;
}
.copyright {
  color: #fff;
  width: 100%;
  height: 50px;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 15px;
}

@media screen and (max-width: 480px) {
  .box {
    width: 100%;
    height: 300px;
    margin: auto;
  }

  form input {
    width: 200px;
    line-height: 2;
    margin-bottom: 10px;
  }

  .btn-group button {
    width: 80px;
    height: 40px;
  }

  .btn-group .two {
    margin-left: 10px;
  }

  .txt p {
    font-size:15px;
    margin-top: 15px;
    color: #fff;
  }
  .txt h3{
    margin-top: 10px;
    color: #fff;
  }

  #qrcode {
    width: 100%;
    margin-top: 30px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50,-50);
  }
}
